.form {
  background-color: $form-bg-color;
  border-radius: 5px;

  padding: 3rem 2.5rem;
  text-shadow: #1b1b32 0.25rem 0.25rem 0.3rem;

  &__group {
    margin: 0 0 1.5rem 0;
  }

  &__control {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.33rem;
    background-color: #fff;
  }

  &__label {
    display: block;
  }
}
