// BASIC CSS RESETm
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // One rem = 10px ie: 10px/16px = 62.5%

  @include respond(small-phone) {
    .container {
      margin-top: 0rem;
    }
    .header {
      display: none;
    }
    .form {
      padding: 2rem 1.5rem;

      &__group {
        margin: 0 0 1rem 0;
      }
    }
  }

  @include respond(tab-land) {
    // width < 1200px
    .container {
      margin-top: 15rem;
    }
    font-size: 85%; // 1 rem = 9px, 9/16  = 56.25%
  }

  @include respond(tab-port) {
    // width < 900px
    font-size: 55%; // 1 rem = 8px; 8/16 = 50%
    .container {
      margin-top: 15rem;
    }
  }

  @include respond(phone) {
    font-size: 40%;
  }

  @include respond(small-phone) {
    .container {
      margin-top: 4rem;
    }
    .header {
      display: none;
    }
    .form {
      padding: 2rem 1.5rem;

      &__group {
        margin: 0 0 1rem 0;
      }
    }
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12, 12/16 = 75%
  }
}
