$color-white: #f3f3f3;
$color-dark-blue: #1b1b32;
$color-dark-blue-alpha: rgba(27, 27, 50, 0.75);
$color-green: #37af65;
$color-blue: rgba(58, 58, 158, 0.8);
$color-light-blue: rgba(136, 136, 206, 0.7);

$roboto: 'Roboto', serif;
$open-sans: 'Open Sans', sans-serif;

//Hero Banner
$hero-banner-bg-color: #1b1b32;
$hero-banner-lg-color1: rgba(58, 58, 158, 0.8);
$hero-banner-lg-color2: rgba(136, 136, 206, 0.7);
// Not Implemented yet
$hero-banner-degree-direction: 115deg;

// Form
$form-bg-color: rgba(27, 27, 50, 0.75);

// Button
$button-color: #f3f3f3;
$button-bg-color: #37af65;
